---
---

@import "{{ site.theme }}";

@media print, screen and (max-width: 480px) { 
  #header { margin-top: -5px; }
}

body {
  background-color: black;
}

/* Footer links on homepage */
#centered {
  width: 100%;
  text-align: center;
}

#div1 {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}
#div2 {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  text-align: left;
}
/* End footer links */

#banner {
  background-image: url('/assets/images/clouds-dark-wide.jpg');
  width: 100%;
  height: 115px;
  margin-top: -15px;
  background-position: center top;
  background-repeat: no-repeat;
}

#header {
  height: 50px;
}

#header nav {
  max-width: 1200px;
  margin: 0px auto;
}

#header nav ul li.linkleft {
  float: left;
  margin-left: 6px;
}

#header nav ul li.linkright {
  float: right;
  margin-left: 6px;
}

@media (max-width: 468px) {
  #header nav ul li.linkright {
    margin-left: 0;
  }
}

#header nav ul li a {
  color: white;
  border: 1px solid #000;
  background-color: #313539;
  padding: 10px 8px;
  background: #313539;
}

#header nav ul li a:hover {
  color: #ffcc00;
  border: 1px solid #000;
  background-color: #313539;
  background: #313539;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
}

/* Old top nav hover */
/* #header nav ul li a:hover { */
  /* color: #ffcc00; */
  /* background-color: #272b30; */
  /* border: 1px solid #000; */
  /* background: #272b30; */
/* } */

.softview {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  max-width: 1200px;
}

section #title {
  text-shadow: 2px 2px black;
  margin: 0px 0 0px 0;
}

section #title .credits {
  margin-top: -20px;
}

code {
  background: #191919;
  padding: 4px 10px;
}

/* Tables and such */

ol, table, dl {
  margin: 0 0 10px;
}

/* Home page links table */
thead tr th:first-child,
tbody tr td:first-child {
  width: 195px;
  min-width: 195px;
  max-width: 195px;
  word-break: break-all;
}

/* Tools page table header */
#banner > div > section > div.softview > table > tbody > tr > td:nth-child(2),
#banner > div > section > div.softview > table > tbody > tr > td:nth-child(1) {
  font-size: 15px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 768px)  {
thead tr th:first-child,
tbody tr td:first-child {
  width: 120px;
  min-width: 120px;
  max-width: 120px;
  word-break: break-all;
  }
}

/* End Tables */

pre {
  margin: 5px 0 5px;
}

p {
  margin: 0 0 5px;
}

ul {
  margin: 0 0 0px;
  list-style-image: initial;
}

br {
  margin: 0 0 9px;
}

hr {
  margin: 14px 0 20px;
}

.wrapper {
  max-width: 1200px;
}

.credits,.credits.right {
  text-shadow: initial;
}

h2 {
  margin: 10px 0 10px;
}

h3 {
  color: #e8e8e8;
  margin: 3px 0 0;
}

nav {
  display: inherit;
}

/* adjust h2 anchor links to fit header */
h2::before {
  content: '';
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

/* Buttons */

.collapsible {
  border: 0px solid #000;
  background-color: #313539;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  max-width: 900px;
  outline: none;
  font-size: 17px;
  text-align: center;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  display: block;
  margin: auto;
}

.collapsible:hover, .collapsible-small:hover {
  color: #ffcc00;
}

.collapsible-small {
  border: 0px solid #000;
  background-color: #313539;
  color: white;
  cursor: pointer;
  padding: 3px 8px 3px 8px;
  outline: none;
  text-align: center;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  margin-left: 8px;
}

.active {
  color: #ffcc00;
  background-color: #272b30;
  border: 1px solid #000;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: inherit;
  max-width: 800px;
  margin: auto;
}

.simple-button {
  border: 0px solid #000;
  background-color: #313539;
  color: white;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  text-align: left;
  outline: none;
  font-size: 17px;
  text-align: center;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin: 5px 10px 5px 10px;
}

.simple-button:hover {
  color: #ffcc00;
}

.simple-pressed-button {
  border: 1px solid #000;
  cursor: pointer;
  padding: 12px;
  text-align: left;
  outline: none;
  font-size: 17px;
  min-width: 100px;
  text-align: center;
  pointer-events: none;
  color: #ffcc00;
  background-color: #272b30;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  display: inline-block;
  margin: 5px 10px 5px 10px;
}

.simple-button-small {
  border: 0px solid #000;
  background-color: #313539;
  color: white;
  cursor: pointer;
  padding: 5px;
  min-width: 50px;
  text-align: left;
  outline: none;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin: 5px 8px 5px 8px;
  padding-right: 12px;
  padding-left: 12px;
}

.simple-button-small:hover {
  color: #ffcc00;
}

/* Hides blue click highlight on mobile */
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

/* Custom Scroll Bar*/
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */

/* Firefox */
html {
  scrollbar-color: #292929 #333333;
}

/* Chrome */
::-webkit-scrollbar              { /* 1 */
  background: inherit;
}
::-webkit-scrollbar-button       { /* 2 */
  background: inherit;
}
::-webkit-scrollbar-button:vertical:end:increment { /* UP ARROW */
  background:
    linear-gradient(300deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(60deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(180deg, #202020 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}
::-webkit-scrollbar-button:vertical:start:decrement { /* DOWN ARROW */
  background:
    linear-gradient(120deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #202020 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}
::-webkit-scrollbar-button:horizontal:start:decrement { /* LEFT ARROW */
  background:
    linear-gradient(30deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #202020 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}
::-webkit-scrollbar-button:horizontal:end:increment { /* RIGHT ARROW */
  background:
    linear-gradient(210deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(330deg, #202020 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(90deg, #202020 30%, rgba(0, 0, 0, 0) 31%);
  background-color: #b6b6b6;
}
::-webkit-scrollbar-track  { /* 3 */
  background: rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-track-piece  { /* 4 */
  background: #333333
}
::-webkit-scrollbar-thumb        { /* 5 */
  background: #292929;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:hover { /* 5 HOVER */
  background-color: #333333;
}
::-webkit-scrollbar-corner       { /* 6 */
  background: inherit;
}
::-webkit-resizer                { /* 7 */
  background: inherit;
}

/* Copy code button */
/* Needed for button position */
pre {
  position:relative;
}
.highlight{
  position:relative;
}

/* Button style */
.code-copy {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 2px;
  right: 5px;
  transition: opacity .5s ease;
  padding: 3px 9px;
  pointer-events: auto
}
/* Show copy button on block mouse over */
.highlight:hover .code-copy {
  opacity: 1;
}
